# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-cache/
.idea/
*.egg-info/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db
