groups:
- name: AllServices
  rules:
  - alert: ServiceDown
    expr: up == 0
    for: 1m
    labels:
      severity: 'critical'
    annotations:
      summary: "Service {{ $labels.job }} is down."
      description: "{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 1 minute."
